<!DOCTYPE HTML>
<html lan="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale.8">
        <title>Serving statics files</title>
        <link href="../css/style.css" rel="stylesheet">
    </head>
<body>
    <div class="card">
        <h2>Welcome to Demo API</h2>
        <p>This is a demo movies API built using Express JS and a JSON file as a data source. </p>
        <p>This is a simple demo HTML to demo serving static files.</p>
    </div>
</body>
</html>